.user-info-span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  text-align: center;

  color: #000000;
}

.user-info-div {
  padding: 18px 0;
}

.collapse-class {
  padding: 18px 0 !important;
}
.collapse-class .ant-collapse-header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  padding: 0 !important;
  text-align: center;
  justify-content: center;
  color: #000000;
}

.collapse-class .ant-collapse-content-box {
  padding: 0 !important;
}
